---
title: "cronfu"
---

%section.animated.fadeIn
  .container
    %section.me
      %h1 Hello!
      %p
        My name is Jimmy Thai and I'm a full stack web developer based out of Jacksonville, Florida. Cronfu is my personal website and blog where I'll be writing about anything tech related.

      .social
        %p Follow me on social media!

        %ul
          %li
            = link_to "https://github.com/jlthai", target: "_blank" do
              %i.socicon.socicon-github
          %li
            = link_to "https://twitter.com/jlthai", target: "_blank" do
              %i.socicon.socicon-twitter
          %li
            = link_to "https://www.linkedin.com/in/jlthai", target: "_blank" do
              %i.socicon.socicon-linkedin
          %li
            = link_to "https://instagram.com/jlthai/", target: "_blank" do
              %i.socicon.socicon-instagram
          %li
            = link_to "https://google.com/+JimmyThaiJLT", target: "_blank" do
              %i.socicon.socicon-google
